#content-view-appointment {
    margin: 30px 0 0px 0;
    min-height: calc(100vh - 76px);
    transition: 0.5s;
  }
  #content-view-appointment .block-header .breadcrumb {
    background-color: transparent;
    color: #222;
    padding: 0;
  }
  #content-view-appointment .block-header .breadcrumb li:nth-child(1) {
    font-size: 1.6rem;
    margin: -11px 0;
    font-weight: 600;
  }
  #content-view-appointment .block-header .breadcrumb .breadcrumb-item a {
    color: #6c757d;
  }
  #content-view-appointment .block-header .breadcrumb .breadcrumb-item.active {
    color: #EE6C4D;
  }
  #content-view-appointment .section--front-liner-appointment .card-style {
    border: 0;
    border-radius: 5px;
    margin: 15px 0px;
  }
  #content-view-appointment .section--vaccinated-appointment .card-style {
    border: 0;
    border-radius: 5px;
    margin: 15px 0px;
  }
  #content-view-appointment .section--vaccinated-appointment .vaccinate-appointment__card .vaccinate-appointment__content .vaccinated-appointment--header .vaccinate-appointment--search .search-btn {
    color: #fff;
    background-color: #48C9B0;
    border-color: #48C9B0;
    outline: medium none;
  }
  #content-view-appointment .section--vaccinated-appointment .vaccinate-appointment__card .vaccinate-appointment__content .vaccinate-appointment--pagination a {
    color: #222;
  }
  #content-view-appointment .section--vaccinated-appointment .vaccinate-appointment__card .vaccinate-appointment__content .vaccinate-appointment--pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #ee6c4d;
    border-color: #ee6c4d;
  }
  