#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #fff;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 100%;
  overflow: auto;
  position: fixed;
  z-index: 1;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  /* Handle */
  /* Handle on hover */
}
#sidebar::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}
#sidebar::-webkit-scrollbar-thumb {
  background: rgba(151, 146, 146, 0.4);
  border-radius: 10px;
}
#sidebar::-webkit-scrollbar-thumb:hover {
  background: rgba(151, 146, 146, 0.4);
}
#sidebar .sidebar--header {
  width: 100%;
  padding: 20px;
  background: #fff;
  position: relative;
  display: inline-flex;
  justify-content: left;
}
#sidebar .sidebar--header .siderbar-header__logo {
  max-height: 80px;
  max-width: 50px;
}
#sidebar .sidebar--header .siderbar-header__logo .sidebar--logo__icon {
  height: 100%;
  width: 100%;
}
#sidebar .sidebar--header .siderbar--logo_title {
  margin-top: 15px;
}
#sidebar .sidebar--header .siderbar--logo_title h3 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}
#sidebar ul.sidebar--menu li a {
  display: block;
  color: #333;
  font-weight: 300;
  text-transform: capitalize;
}
#sidebar ul.sidebar--menu li a span {
  margin-right: 10px;
}
#sidebar ul.sidebar--menu li:hover {
  color: #fff;
  background: #222;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#sidebar ul.sidebar--menu li .sidebar__submenu li {
  padding-left: 20px;
  background-color: rgba(206, 218, 248, 0.925);
}
#sidebar ul.sidebar--menu li .sidebar__submenu li a {
  padding: 15px 0px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul.sidebar--menu li .sidebar__submenu li:hover {
  color: #fff;
  background: rgba(195, 211, 255, 0.925);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__item {
  padding: 15px 10px !important;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: #333;
  font-weight: 300;
  text-transform: capitalize;
}
.menu__item span {
  margin-right: 10px;
  font-size: 20px;
  color: #0f4c57;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sidebar--header {
    width: 85%;
    padding: 20px;
    background: #fff;
    position: relative;
    display: inline-flex;
    justify-content: left;
  }
  .sidebar--header .siderbar-header__logo {
    width: 40px !important;
    height: 40px !important;
    margin-top: 12px;
  }
  .sidebar--header .siderbar-header__logo .sidebar--logo__icon {
    height: 100%;
    width: 100%;
  }
  .sidebar--header .siderbar--logo_title {
    margin-top: 15px;
  }
  .sidebar--header .siderbar--logo_title h3 {
    font-size: 25px !important;
    text-transform: uppercase;
    font-weight: bold;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

/*# sourceMappingURL=sidebar.scss.map */
