footer{
    position: relative;
    padding-top: 12rem;
    font-family: var(--milliard);
}

.footer-container{
    background: var(--accent-color);
    color: var(--white-color);
    padding: 18rem 0 6rem 0;
}

.footer-container a{
    color: var(--white-color);
}

.home-footer-nav-link{
    display: block;
    font-size: 1.5rem;
    margin: 1.75rem 0;
    transition: padding-left 200ms ease;
}

.home-footer-nav-link:hover{
    border-left: .3rem solid var(--sub-color);
    padding-left: .75rem;
}

.home-footer-nav-title{
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: bold;
}

.paragraph-small, .paragraph-small span{
    font-size: 1.6rem;
}

.paragraph-small{
    margin: 1.5rem 0;
}

.semibold, strong{
    font-family: var(--milliard-bold);
    /* font-size: 1.75rem !important; */
}

.footer-row{
    margin-bottom: 7.5rem;
}

.contact-info a{
    display: block;
    text-decoration: underline;
}

.home-footer-social-links a > i{
    font-size: 2rem;
    display: inline-block;
    margin: .5rem;
}